body {
  font-family: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15em;
  padding-right: 15em;
  line-height: 1.7em;
}

a {
  color: #3b8bba;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.transform-app {
  text-align: center;
}

.hidden {
  display: none;
}

.magic {
  margin: 2em 2em 2em 2em;
  display: none;
}

.download-btn {
  background: rgb(28, 184, 65);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: none;
}

@media (max-width: 940px) {
  .container {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .magic {
    margin: 0;
  }
}
